<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <appSettings>
      <add key="RedisPath" value="YueYe2017@anhuihefei@118.190.146.251:6379"/>
      <add key="ConnectionString" value="Data Source=118.190.146.251;port=3306;Initial Catalog=yueyeplatdb;user id=root;password=12345;Charset=utf8" />
    <add key="LogisConnectionString" value="Data Source=118.190.146.251;port=3306;Initial Catalog=LogisName;user id=root;password=12345;Charset=utf8" />
    <add key="uid" value="root"/>
    <add key="upwd" value="12345"/>
    <add key="port" value="3306"/>
    <add key="his_months" value="3"/>
  </appSettings>
  <connectionStrings>
    <remove name="YunMySqlServer" />
    <add name="YunMySqlServer" connectionString="server=118.190.146.251;user=root;pwd=12345;database=yueyeplatdb;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="MyCustomMadeSessionProvider" timeout="44640">
      <providers>
        <add name="MyCustomMadeSessionProvider" type="YueYePlat.DAL.MySessionStateConfig,YueYePlat.DAL" connectionStringName="YunMySqlServer" applicationName="/YueYePlatService" description="my custom state provider" writeExceptionsToEventLog="False" autogenerateschema="True" enableExpireCallback="False" />
      </providers>
    </sessionState>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>    
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>