<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Data Source=118.190.146.251;port=3306;Initial Catalog=yueyeplatdb;user id=root;password=12345;Charset=utf8"/>
    <!--<add key="ConnectionString" value="Data Source=localhost;port=3306;Initial Catalog=yueyeplatdb;user id=root;password=12345;Charset=utf8" />-->
    <add key="LogisConnectionString" value="Data Source=118.190.146.251;port=3306;Initial Catalog=LogisName;user id=root;password=12345;Charset=utf8"/>
    <add key="uid" value="root"/>
    <add key="upwd" value="12345"/>
    <add key="port" value="3306"/>
    <add key ="feetype" value="派送费;提货费;加急费;二级城市派送费"/>
    <add key="productInfo" value="品名;ProductName;件数;Quantity;重量;Weight"/>
    <add key="deviceType" value="车载终端;温湿度采集终端;开关门采集终端;保温箱终端;冷库终端"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="LogisPrj.Properties.Settings.yueyeplatdbConnectionString" connectionString="server=118.190.146.251;user id=root;password=12345;database=yueyeplatdb" providerName="MySql.Data.MySqlClient"/>
    <add name="LogisPrj.Properties.Settings.yueyeplatdbConnectionString1" connectionString="server=118.190.146.251;user id=root;password=12345;database=yueyeplatdb" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
